<div class="component-content">
    <div>
        <form>
            <!-- intro text -->
            <p class="text-center">Congrats! Your account has been created. Here's your key one last time:</p>

            <!-- vertical spacing between elements -->
            <div style="margin-top: 35px;"></div>

            <div class="row justify-content-center"> 
                <!-- input field -->
                <div class="mb-3">
                    <div name="keyTextDiv" class="text-center" style="user-select:auto"></div>
                </div>
            </div>

            <!-- vertical spacing between elements -->
            <div style="margin-top: 5px;"></div>

            <!-- print/download buttons -->
            <div class="d-grid justify-content-center mb-3">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary custom-clipboard-button" type="button" name="clipboardButtons" style="z-index:unset;" title="Copy to clipboard">
                        <i class="bi bi-clipboard"></i>
                    </button>
                    <button class="btn btn-outline-secondary custom-print-button" type="button" name="printButtons" style="z-index:unset;" title="Print">
                        <i class="bi bi-printer"></i>
                    </button>
                    <button class="btn btn-outline-secondary custom-download-button" type="button" name="downloadButtons" style="z-index:unset;" title="Download">
                        <i class="bi bi-download"></i>
                    </button>
                </div>
            </div>

            <!-- vertical spacing between elements -->
            <div style="margin-top: 35px;"></div>

            <!-- follow up text -->
            <p class="text-center">
                Ensure you've saved it before continuing!
            </p>

            <!-- vertical spacing between elements -->
            <div style="margin-top: 55px;"></div>

            <!-- register button -->
            <div class="row justify-content-center">
                <div class="d-grid justify-content-center mb-3">
                    <button class="btn btn-primary custom-submit-button" type="button" name="loginButton">Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>