<div class="component-content">
    <div>
        
        <!-- intro text -->
        <p class="text-center">Next, choose a cash amount and a deposit location.<br/>Then, agree to our terms and click Print.</p>

        <!-- vertical spacing between elements -->
        <div style="margin-top: 40px;"></div>

        <!-- amount -->
        <div class="d-grid justify-content-center mb-3">
            <span>
                <h6 class="me-3" style="display: inline-block; margin-right:0px;">Amount</h6>
                <span class="info">
                    <i class="bi bi-info-circle" style="font-size:12px;"></i>
                    <span class="tooltip">
                        Higher cash amounts have greater discounts.
                    </span>
                </span>
            </span>
            <div class="d-flex align-items-center">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <label class="btn btn-outline-primary active"  title="not discounted">
                        <input type="radio" name="amount" value="5" checked>
                        $5
                    </label>
                
                    <label class="btn btn-outline-primary" title="10% discount">
                        <input type="radio" name="amount" value="10">
                        $10
                    </label>
                
                    <label class="btn btn-outline-primary" title="20% discount">
                        <input type="radio" name="amount" value="20">
                        $20
                    </label>
                
                    <label class="btn btn-outline-primary" title="30% discount">
                        <input type="radio" name="amount" value="50">
                        $50
                    </label>
                </div>
            </div>
            
            <!-- vertical spacing between elements -->
            <div style="margin-top: 40px;"></div>
        
            <!-- deposit tokens into -->
            <span>
                <h6 class="me-3" style="display: inline-block; margin-right:0px;">Deposit Tokens into</h6>
                <span class="info">
                    <i class="bi bi-info-circle" style="font-size:12px;"></i>
                    <span class="tooltip">
                        Choose "Account" if you want your tokens automatically transferred to your account's wallet (recommended).<br/><br/>Choose "Gift Card" if you want to keep your tokens in a slightly more anonymous form, apart from your account's wallet.<br/><br/>Note: Given that neither wallets nor purchases are linked by us to user accounts, both options provide a high degree of anonymity. See our Privacy page for details.
                    </span>
                </span>
            </span>
            <div class="d-flex align-items-center">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <label class="btn btn-outline-primary active">
                        <input type="radio" name="deposit" value="1" checked>
                        Account
                    </label>
                
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="deposit" value="2">
                        Gift Card
                    </label>

                    <label class="btn btn-outline-primary">
                        <input type="radio" name="deposit" value="3">
                        Community
                    </label>
                </div>
            </div>
   
            <!-- vertical spacing between elements -->
            <div style="margin-top: 45px;"></div>
        
            <!-- terms -->
            <div class="input-group mb-3">
                <div class="form-check mb-3" style="text-align: left;">
                    <input class="form-check-input" type="checkbox" value="" name="termsCheckbox" title="check this box to signify you agree to our Terms of Service">
                    <label class="form-check-label" for="termsCheckbox">
                        I agree to the <a href="TODO" target="_blank">Terms of Purchase</a>
                    </label>
                </div>
            </div>

            <!-- vertical spacing between elements -->
            <div style="margin-top: 20px;"></div>

            <!-- print button -->
            <div class="row justify-content-center">
                <div class="d-grid justify-content-center mb-3">
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary" type="button" name="backButton">Back</button>
                        <button class="btn btn-primary custom-submit-button" type="button" name="printButton">Print</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div __replace="./cashView.requestTemplate.html"></div>