<style type="text/scss">
    .tile-tree 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    .tile-tree.outline
    {
        outline: 1px dotted #99999922;
    }


    .tile-tree-content
    {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .tile-tree-content .thumb
    {
        display: flex;
        align-items: center;
    }

    .tile-tree-content .thumb > * /* just children */
    {
        cursor: pointer;
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    .tile-tree-content .name
    {
        font-size: 12px;
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Show an ellipsis when text overflows */
        width: 100%; /* Set the container width */
        text-align: left;
        border: 1px solid transparent; /* To preserve the layout during editing */
        cursor: pointer;
    }

    .tile-tree-content img
    {
        width: 100%;
        height: 100%;
        object-fit: contain;
        vertical-align: top;
        border-radius: 10px;
        border: 3px solid #ffffff0a; 
    }

    .tile-tree-content canvas
    {
        width:100%;
        height:100%;
        object-fit: contain;
        vertical-align: top;
        border-radius: 10px;

        border: 3px solid #ffffff0a; 
    }

    .tile-tree-content .name[contenteditable="true"] 
    {
        border-color: #ccc; /* Visible border during editing */
    }

    .tile-tree-content.visible
    {
        display: flex;
    }

    .tile-tree .dragging 
    {
        opacity: 0.5;
    }
</style>

<template name="tileTemplate">
    <div name="icon" class="tile-tree" draggable="false">
        <div name="content" class="tile-tree-content">
            <span name="caret" style="width:14px; display: inline-block; font-size: 13px; color:#999; cursor: pointer;"><i class="bi bi-caret-right"></i></span>
            <span name="thumb" class="thumb column"> <!-- Column 1 -->
                <i class="bi bi-folder"></i>
            </span>
            <span name="name" contenteditable="false" class="name column"> <!-- Column 2 -->
                <!-- Name Content -->
            </span>
        </div>
    </div>
</template>